md-list(flex="")
  md-list-item.md-2-line(ng-repeat="item in items", ui-sref="feed({id:item})")
    .md-list-item-text(layout="column")
      h3 Lorem ipsum {{item}}
      p Lorem ipsum dolor sit amet
