doctype html
html(lang="en")
  head
    title RSS Reader

    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width,  initial-scale=1")

    block styles
      link(rel="stylesheet" href="app.css")

  body.no-select(ng-app="app", ng-cloak="")
    block content
      div(ng-controller="AppCtrl", layout="column", style="height:100%;", ng-cloak="")
        section(layout="row" flex="")
          md-sidenav.md-sidenav-left(
            md-component-id="left",
            md-is-locked-open="$mdMedia('gt-md')",
            md-disable-backdrop,
            md-whiteframe="4"
          )
            md-toolbar.md-theme-indigo
              h1.md-toolbar-tools Sidenav Left

            md-content(layout-padding="")
              md-button.md-primary(ng-click="close()", hide-gt-md="") Close Sidenav Left

              p(hide-md="", show-gt-md="") This sidenav is locked open on your device. To go back to the default behavior, narrow your display.

          md-content(flex="", layout-padding="")
            div(layout="column", layout-fill="", layout-align="top center")
              p The left sidenav will 'lock open' on a medium (>=960px wide) device.

              div
                md-button.md-primary(ng-click="toggleLeft()", hide-gt-md="") Toggle left

    block scripts
      script(src="./app.js")
