<<<<<<< HEAD
[ui-view].main-view {
  flex: 1;
}
=======
.main {
  display: flex;
  flex-direction: column;

  & > [ui-view] {
    flex: 1;
  }
>>>>>>> origin/master

[ui-view].main-view.ng-enter, [ui-view].main-view.ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  transition: all .5s ease-in-out;
}

[ui-view].main-view.ng-enter {
  opacity: 0;
}

[ui-view].main-view.ng-enter-active {
  opacity: 1;
}

[ui-view].main-view.ng-leave {
  opacity: 1;
}

[ui-view].main-view.ng-leave-active {
  opacity: 0;
}
